$white-color: #fff;
$menu-hov-color: #0B0706;
$menu-color: #525560;
$main-color: #1D2130; 
$button-color: var(--foundation-primary-red-500, #B4252D);
$grey-color: #E5E5E5;
$yellow-color: var(--foundation-secondary-yellow-50, #FCF5E8);
$what-para-color: var(--Secondary-text, #525560);
$light-grey: #E8E9EA;
$dark-grey: #B9BABF;
$green-color: #1A7C5F;
$orange-color: #F05E28;
$golden-color: #DC9C1A;
